@font-face {
    font-family: "Louize";
    src: url("louize.otf");
}
body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
}

/* INTRO */
.intro{
    background: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s ease;
}
.introInner{
    /* background: rgb(43, 56, 88); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introTitle{
    font-size: 7vw;
    font-weight: 100;
}
.introSub{
    z-index: 1000;
    position: absolute;
    bottom: 40px;
    width: 100vw;
    text-align: center;
    opacity: 40%;
}

/* CONTENT */
.gradient{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 6vh;
    background: linear-gradient(180deg, #ffffff 0%, rgba(0, 0, 0, 0) 100%);
    animation: 12s flicker infinite ease;
    opacity: 40%;
}
@keyframes flicker {
    0%{
        opacity: 40%;
    }
    50%{
        opacity: 5%;
    }
    70%{
        opacity: 12%;
    }
    100%{
        opacity: 40%;
    }
}
h1{
    margin: 0;
    padding: 0;
    line-height: 135%;
    font-family: 'Louize';
    font-size: 20px;
    color: white;
}
.poemContainer{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}
.poemInner{
}
.sketchContainer{
    position: absolute;
    top: 0;
}